
body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  padding:  50px 40px;
}

.navbar{
  background-color: #7553e2;
}

.navbar .btn{
  color: white;
  border: 1px solid white;
  font-weight: 500;
}
.navbar .btn:hover{ 
  background-color: white;
  color: #7553e2;
}

.navbar .nav-item{
  color: white !important;
}

.btn {
  background-color: #7553e2 !important;
  color: white !important;
}

.offcanvas {
  position: fixed;
  bottom: 0;
  padding-top: 64px;
  z-index: -1 !important;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}